<table class="people">
  <thead>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Mass</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of people.results" (click)="updatePerson(person)">
    <td>{{person.name}}</td>
    <td>{{person.height}}</td>
    <td>{{person.mass}}</td>
    </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colSpan="3">
      {{people.status}}
      <a *ngIf="people.previous"[routerLink]="" (click)="!!prevPage()">Prev</a> |
      <a *ngIf="people.next" [routerLink]="" (click)="!!nextPage()">Next</a>
    </td>
  </tr>
  </tfoot>
</table>
